.App {
  max-width: 360px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 360px) and (max-width: 768px) {
  .App {
    max-width: 768px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .App {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .App {
    max-width: 1024px;
  }
}