.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #EAF2FD;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.title-form  p{
  margin: 1rem 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #464646;
}

.input-name input {
  height: 56px;
  width: 328px;
  border: none;
  border-radius: 4px;
}

.input-mensage input {
  height: 82px;
  width: 328px;
  border: none;
  border-radius: 4px;
}

.container-links {
  text-align: center;
}

.container-links img {
  height: 50px;
  width: 176px;
}


.button-form {
  width: 151px;
  height: 40px;
  background-color: #2A7AE4;
  color: #FFF;
  padding: 12px 16px 12px 16px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

@media(min-width: 768px) and (max-width: 1440px) {
    .search {
      display: none;
    }
    .content-footer {
      display: flex;
      gap: 4rem;
      align-items: center;
    }
  }