.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  margin-top: 1.5rem;
}

.nav button {
  width: 133px;
  padding: .75rem 1rem;
  margin-top: 1rem;
  background-color: #FFF;
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
  font-size: 14px;
  font-weight: 600;
}

.nav button:hover {
  background-color: #2A7AE4;
  color: #FFF;
}